* {
  
}







.arr{
  width: 10px;
  color: white
}
nav{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border: 5px solid black;
  
  
}
.ul li{
  display: inline;
  text-decoration: none;
  
}

.pricing{
  text-align: center;
}
.logo{
  display: flex;
  justify-content: space-evenly;

}
.mind{
  border: 2px solid black;
  background-color: blue;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  font-size: 10px;

}
.A{
display: inline-flex;
justify-content: space-evenly;
}
.A1{
  width: 50px;
  
  padding-left: 30px;
  margin-right: 10px;
}
.man{
  width: 70px; 
}
#man{
  border: solid #FFFFFF;
  width: 120px;
  height: 150px;
  background-color:#FFFFFF;
  padding: 20px;
  
}
#man p{
  font-size: 8px;
  text-shadow: 1px 1px;
  color: #CECECE;
  
}
.managers{
  display: flex;
  justify-content: space-evenly;
  padding-right: 10px;
  padding-right: 10px;

}
.footer{
  display: flex;
  justify-content: center;
  font-weight:normal;
  font-size: 7px;
  text-shadow: 0.5px 0.5px;
  color: #D5D5D5; 
  line-height: 13px;
  background-color: #FFFFFF;
  height: 150px;
  padding: 30px;
}
.footer h2{
  color: #676B7B;
}
.footer li{
  font-size: 7px;
}
